@(implicit request: Http.Request) 

@import helper._
@import java.util

@main("Accueil"){
 
  <div class="acceuil-containeur"> 

	</div> 
 
	<forme>
		<input type="hidden" id="listesID" name="listesID" value=""></input>
	</forme>

  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>33</h3>

              <p>Nombre total de détenus/prevenus</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer" class="btn btn-primary col start" data-toggle="modal" data-target="#modal-listeMisEncause" >Cliquez pour plus d'information <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        
        
        

 </div>
 </div>
<!--   -->
   </section>

<!--   <div id="container1" class="col-sm-6" style=" padding-top: 25px"></div> -->
<!--   <div id="container3" class="col-sm-6 highcharts-figure"></div> -->
<!--   <div id="container2" class="col-sm-6 highcharts-figure" ></div> -->
<!--   <div id="container4" class="col-sm-6 highcharts-figure" ></div>  -->
  
}

<script type="text/javascript">
       
    </script>